*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px grey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav,
footer {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px grey;
  padding: 1em;
}

footer {
  justify-content: center;
  gap: 0.25em;
  font-weight: 600;
}

footer > a {
  text-decoration: none;
  color: rgb(114, 87, 114);
  border: 1px solid transparent;
  padding: 0.5em;
  transition: all 1s ease-in-out;
}

footer > a:is(:hover, :focus, :active) {
  color: rgb(236, 23, 200);
  border: 1px solid transparent;
  padding: 0.5em;
  background-image: linear-gradient(lightblue, lightgreen, lavender);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}

nav > img {
  height: 100%;
  width: auto;
}

.main-header {
  display: grid;
  gap: 2.5em;
  place-content: center;
  padding: 1em;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.hero-image > img {
  height: 100%;
  width: 100%;
}

.hero-text {
  text-align: left;
}

.hero-text > h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

.hero-text > p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  max-width: 25rem;
}

/* Card styles */

.badge {
  background-color: white;
  color: #222;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8125rem;
  position: absolute;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  top: 0.625rem;
  left: 0.625rem;
}

.card-container {
  padding: 2.5em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625rem;
}

.grey {
  color: #918e9b;
}

.card {
  color: #222222;
  position: relative;
  /* max-width: 15.625rem; */
}

.card--rating {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.card--rating > img {
  height: 16px;
  width: 1rem;
}

.card--image {
  width: 100%;
  height: 21.875rem;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

.price {
  font-weight: 700;
}

.price > span {
  font-weight: 400;
}
